/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&family=Roboto:wght@700&display=swap');

/*------------ 
first section
------------- */
*{

    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container {
    background-color: rgba(10, 10, 10, 0.93);
    width: 1300px;
    border-radius: 30px;
    padding-bottom: 60px;
    margin-top: 50px;
}

.poster {
    display: flex;
}

.poster-info {
    color: white;
    width: 50%;
    padding-top: 30px;
    padding-left: 65px;
}

.poster-info h1 {
    font-size: 50px;
    line-height: 65px;
}

.poster-info h5 {
    font-weight: 100;
    background-color: black;
    display: inline;
}

.button {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: red;
    border-radius: 5px;
    line-height: 55px;
}

.poster img {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    align-items: center;
}

/* --------------
second section
--------------- */

.container2 {
    width: 1300px;
    margin-top: 100px;
}

.second-sec {
    display: flex;
    justify-content: center;
}

.side-nav {
    width: 25%;
    height: fit-content;
    padding: 20px 15px;
    background-color: black;
    display: block;
    border-radius: 10px;
    margin: 0 15px;
}
.side-nav ul{
    list-style: none;
    line-height: 1.6;
    text-align: center;
}
.side-nav ul li a{
    background-color: white;
    background-position: center;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 15px;
    
}
.side-nav ul li{
    background-position: center;
    line-height: 70px;
}
#um{
    padding: 10px 25px;
}
#ag{
    padding: 10px 57px;
}
#b{
    padding: 10px 76px;
    color: white;
    background-color: red;
}


.main-part {
    width: 75%;
}

.live-tournaments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tournament{
    border: 1.3px solid rgb(216, 213, 213);
    border-radius: 10px;
    margin: 9px;

}
.live-info{
    padding: 10px 15px;
}
.live-info h3{
    padding-bottom: 0;
    margin-bottom: 0;
}
.live-info a{
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
}
.duration-comment{
    display: flex;
}
.duration{
    margin-right: 20px;
}

/*-------------
 footer 
 -------------*/


footer{
    margin-top: 130px;
    padding: 50px 0;
    background-color: black;
}
.goal{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 70px;
}
.goal h1{
    color: white;
    font-size: 38px;
}
hr{
    border: 0.5px solid gray;
    margin: 0 90px;
}
footer ul{
    margin-top: 50px;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;

}
footer ul li a{
    color: azure;
    opacity: 0.7;
    text-decoration: none;
}
footer ul li a:hover{
    opacity: 1;
}
footer ul li{
    display: inline-block;
    padding: 0 15px;
}
